<!-- features/my-planet/mission-card/mission-card.component.html -->
<a class="mission" [class.validated]="mission.validated" [routerLink]="routerLink">

    <div class="text-wrapper">
        <div class="name">{{ mission.name }}</div>
        <div class="description" *ngIf="!mission.validated">{{ mission.description }}</div>
        <div class="description" *ngIf="mission.validated">{{ photosCount }} photo{{ photosCount > 1 ? 's' : '' }}</div>
    </div>
    <div class="icon-wrapper">
        <i *ngIf="!mission.validated" class="fa-solid fa-chevron-right"></i>
        <span *ngIf="mission.validated" class="nb">✔</span>
    </div>
</a>
