<!-- features/my-planet/mission-card/mission-card.component.html -->
<a class="mission" [class.validated]="mission.validated" [routerLink]="routerLink">
    <div class="icon-wrapper" *ngIf="mission.validated">
        <span class="checkmark">
          <i class="fa-solid fa-check"></i>
        </span>
    </div>
    <div class="icon-wrapper" *ngIf="!mission.validated">
        <span class="checkmark">
          <i class="fa-solid fa-medal"></i>
        </span>
    </div>

    <div class="text-wrapper">
        <div class="name">{{ mission.name }}</div>
        <div class="description">{{ mission.description }}</div>
        <div class="reward" *ngIf="!mission.validated">Récompense: {{mission.points}} pts</div>
        <div class="reward validated" *ngIf="mission.validated">+{{mission.points}} pts</div>
    </div>
</a>
