/* features/my-planet/mission-card/mission-card.component.scss */

@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/mixins' as *;
:host {
    position: relative;
}

.mission {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: var(--background-mission);
    border: 1px solid #31373bdc;
    transition: border 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    gap: 20px;
    padding: 16px;
    border-radius: 8px 8px;
    background: linear-gradient(to left, #31373b64, #31373b16);
    @include applyShadow(black, 0.5);
    .text-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .icon-wrapper {
        position: relative;
        margin-right: 8px;
    }
    .thumbnail {
        aspect-ratio: 3 / 2;
        border-radius: 6px;
        overflow: hidden;
        max-width: 100px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .name {
        color: white;
        font-family: $font-head;
        font-size: 20px;
        flex: 1;
    }
    .description {
        color: $text-color-muted-hard;
        font-size: 14px;
        font-weight: 100;
        line-height: 1.5;
    }
    .checkmark {
        position: relative;
        background: linear-gradient(to right, #3d43468d, #31373b64);
        width: 48px;
        font-size: 24px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e7f5fd65;
        &::after {
            position: absolute;
            top: -8px;
            bottom: -8px;
            left: -8px;
            right: -8px;
            content: '';
            background: linear-gradient(to right, #31373b64, #31373b64);
            border-radius: 50%;
        }
    }
    .reward {
        font-size: 12px;
        margin-top: 12px;
        color: #ffb23f;
        &.validated {
            color: $global-success-text;
        }
    }
    &.validated {
        position: relative;
        background: linear-gradient(to left, rgba($global-success-text, .2), rgba($global-success-text, 0.05));
        border: 1px solid rgba($global-success-text, 0.5);
        .description {
            color: var(--text);
        }
        .checkmark {
            background: linear-gradient(to right, rgba($global-success-text, .2), rgba($global-success-text, .1));
            color: $global-success-text;
            &::after {
                background: linear-gradient(to right, rgba($global-success-text, .2), rgba($global-success-text, .1));
            }
        }
    }
}

.primary-button {
    background: $global-primary-color;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: $font-head;
    font-size: 16px;
    margin-top: 12px;
}
