<app-floating-gallery [photos]="photos()"></app-floating-gallery>

<div class="container">
    <!-- Overlays -->
    <div class="upper-right">

        <div class="upload-prompt">
            <div class="qr-code-placeholder"><img src="/assets/ui/appCode.png" /> </div>

        </div>
        <div class="photo-count" *ngIf="totalPhotos() > 0">{{ totalPhotos() }} photos</div>
        <div class="prompt-message">Ajoutez vos photos au mur !</div>


    </div>
    <div class="ranking">
        <app-ranking [planets]="classement()" view="projection" />
    </div>
    <app-projection-status />
</div>
