@use '../../../../assets/styles/mixins' as *;
@use '../../../../assets/styles/variables' as *;
.planet-selector {
    position: fixed;
    inset: 0;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .backdrop {
        position: absolute;
        inset: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(15px);
    }
    .modal {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: var(--background-mission);
        border-radius: 48px 48px 0 0;
        padding: 24px;
        max-height: 95vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        box-sizing: border-box;
        .title {
            text-align: center;
            font-family: $font-head;
            color: var(--text);
            font-size: 32px;
            margin-top: 12px;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            button {
                background: none;
                border: none;
                text-align: center;
                cursor: pointer;
                color: var(--text);
                font-size: 21px;
                app-planet-avatar {
                    margin-bottom: -12px;
                }
            }
        }
    }
}