@use '../../../../assets/styles/variables' as *;
.header {
    .identity {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
        padding: calc(16px + 8px * var(--shrink)) calc(16px + 8px * var(--shrink)) 0;
        .text-wrapper {
            filter: drop-shadow(0 0 2px black);
            flex: 1;
        }
        .planet-wrapper {
            width: calc(64px + 40px * var(--shrink));
            transition: width 0.3s ease;
            filter: drop-shadow(0 0 64px var(--glow));
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }
    .progress {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: calc(24px * var(--shrink)); // moins agressif = moins d'oscillation
        transition: padding 0.3s ease;
        .text {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            opacity: calc(var(--shrink));
            height: calc(16px * var(--shrink));
            transition: opacity 0.3s ease;
            .completed-missions-text {
                color: var(--text);
            }
            .ranking {
                color: $text-color-muted-hard;
            }
        }
        .progress-bar {
            height: 6px;
        }
        .bar {
            height: 6px;
            background: var(--background-mission);
            border-radius: 6px; // stable (évite l'effet "bulle molle" instable)
            transition: background 0.3s ease;
            overflow: hidden;
            .fill {
                background: $global-primary-color;
                height: 100%;
                transition: width 0.3s ease;
            }
        }
    }
}
