@use '../../../../assets/styles/variables' as *;
:host {
    .identity {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
        padding: 0 24px 24px;
        overflow: hidden;
        .score {
            font-size: 80px;
            .small {
                font-size: 40px;
            }
        }
        .text-wrapper {
            filter: drop-shadow(0 0 2px black);
            flex: 1;
            position: relative;
            z-index: 10;
        }
        .planet-wrapper {
            transition: width 0.3s ease;
            filter: drop-shadow(0 0 64px var(--glow));
            position: absolute;
            right: 0px;
            top: -12px;
            z-index: 9;
            width: 200px;
        }
    }
    .progress {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 24px; // moins agressif = moins d'oscillation
        transition: padding 0.3s ease;
        .text {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            opacity: calc(var(--shrink));
            height: calc(16px * var(--shrink));
            transition: opacity 0.3s ease;
            .completed-missions-text {
                color: var(--text);
            }
            .ranking {
                color: $text-color-muted-hard;
            }
        }
        .progress-bar {
            height: 6px;
        }
        .bar {
            height: 6px;
            background: var(--background-mission);
            border-radius: 6px; // stable (évite l'effet "bulle molle" instable)
            transition: background 0.3s ease;
            overflow: hidden;
            .fill {
                background: $global-primary-color;
                height: 100%;
                transition: width 0.3s ease;
            }
        }
    }
}
