<nav class="bottom-nav">
    <a routerLink="/" [class.active]="isHomeActive()">
        <i class="fa-solid fa-trophy"></i> Classement
    </a>

    <a [routerLink]="planetLink()" [class.active]="isPlanetActive()">
        <i class="fa-solid fa-globe"></i> Planète
    </a>

    <a routerLink="/gallery" [class.active]="isGalleryActive()">
        <i class="fa-solid fa-image"></i> Galerie
    </a>

    <a routerLink="/test-access">
        <i class="fa-solid fa-right-from-bracket"></i> Quitter
    </a>
</nav>