<nav class="bottom-nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div class="icon-wrapper">
            <i class="fa-solid fa-house"></i>
        </div><span>Accueil</span>
    </a>

    <a [routerLink]="planetLink()" routerLinkActive="active">
        <div class="icon-wrapper">
            <i class="fa-solid fa-earth"></i>
        </div><span>Ma planète</span>
    </a>

    <a routerLink="/gallery" routerLinkActive="active">
        <div class="icon-wrapper"><i class="fa-solid fa-images"></i></div><span>Galerie</span>
    </a>

    <a routerLink="/history" routerLinkActive="active">
        <div class="icon-wrapper"><i class="fa-solid fa-clock"></i></div><span>Historique</span>
    </a>
    <a (click)="logout()">
        <div class="icon-wrapper"><i class="fa-solid fa-clock"></i></div><span>Logout</span>
    </a>
</nav>
