<ng-container *ngIf="!loading(); else loadingTpl">
    <app-scroll-header>
        <div class="header-content">
            <div class="title">Classement</div>
            <div class="subtitle" *ngIf="userRank() as rank">Votre table est actuellement {{ rank }} /8</div>


        </div>
    </app-scroll-header>

    <section class="ranking-list">
        <div class="ranking-item" *ngFor="let planet of planetsProgress(); let i = index" (click)="onPlanetClick(planet)" [ngClass]="{
        'top-1': i === 0,
        'top-2': i === 1,
        'top-3': i === 2,
       'current-user': isUserPlanet(planet.name)
      }">
            <div class="rank">#{{ i + 1 }}</div>
            <div class="details">
                <div class="planet-name">{{ planet.name }}</div>
                <app-progress class="progress-bar" [planetName]="planet.name" [value]="planet.progressPercent" />
            </div>
            <div class="avatar">
                <app-planet-avatar [planet]="planet" />
            </div>
        </div>
    </section>
</ng-container>

<ng-template #loadingTpl>
    <p>Chargement du classement...</p>
</ng-template>
