@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;
:host {
    padding-top: 80px;
    @include addBackground();
    .header-content {
        padding: 0 24px 24px;
        filter: drop-shadow(0 0 2px black);
    }
    .ranking-list {
        display: flex;
        flex-direction: column;
        padding: 24px 0 80px 12px;
        gap: 8px;
        .ranking-item {
            display: flex;
            box-sizing: border-box;
            border-radius: 64px 0px 0px 64px;
            height: 80px;
            gap: 16px;
            align-items: center;
            padding: 0 24px 0 96px;
            background: linear-gradient(to left, rgba(#45455d, .2), rgba(#45455d, 0.05)) !important;
            outline: 1px solid rgba(#45455d, 0.5);
            @include applyShadow(#0c0c0c, .3);
            position: relative;
            margin-left: 36px;
            &.top-1 {
                background: linear-gradient(to left, rgba(#fff36b, .2), rgba(#fff36b, 0.05)) !important;
                outline: 1px solid rgba(#fff36b, 0.5);
                margin-left: 0px;
                .score {
                    color: #fff36b;
                    font-size: 28px;
                    font-weight: bold;
                }
                .planet-name {
                    font-size: 28px;
                }
            }
            &.top-2 {
                background: linear-gradient(to left, rgba(#a1a08f, .2), rgba(#a1a08f, 0.05)) !important;
                margin-left: 12px;
                outline: 1px solid rgba(#a1a08f, 0.5);
                .score {
                    color: #a1a08f;
                    font-size: 26px;
                    font-weight: bold;
                }
                .planet-name {
                    font-size: 26px;
                }
            }
            &.top-3 {
                background: linear-gradient(to left, rgba(#ba866b, .2), rgba(#ba866b, 0.05)) !important;
                margin-left: 24px;
                outline: 1px solid rgba(#ba866b, 0.5);
                .score {
                    color: #ba866b;
                    font-size: 24px;
                    font-weight: bold;
                }
                .planet-name {
                    font-size: 24px;
                }
            }
            &.current-user {
                background: linear-gradient(to left, rgba($global-primary-color, .2), rgba($global-primary-color, 0.05)) !important;
                outline: 1px solid rgba($global-primary-color, 0.5);
            }
        }
    }
}

.rank {
    color: $text-color-muted-hard;
    font-family: $font-head;
    margin-right: 8px;
    font-size: 18px;
}

.progress-text {
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.avatar {
    position: absolute;
    height: 80px;
    left: 0px;
    top: 0px;
    width: 80px;
}

.details {
    flex: 1;
    line-height: 1;
    display: flex;
    align-items: baseline;
    gap: 8px;
    font-size: 20px;
    color: white;
    font-family: $font-head;
    filter: drop-shadow(0 0 2px black);
}

.planet-name {
    flex: 1;
    .highlight {
        font-size: 12px;
    }
}
