@use '../../../assets/styles/variables' as *;
:host {
    min-height: 100vh;
    &::after {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: var(--background);
        opacity: .5;
        z-index: -1;
    }
    &::before {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: url('/assets/ui/background.png') no-repeat;
        z-index: -1;
        filter: hue-rotate(var(--hue));
    }
    .header-content {
        padding: calc(16px + 8px * var(--shrink));
        filter: drop-shadow(0 0 2px black);
    }
    .subtitle {
        font-size: calc(13px + 3px * var(--shrink));
        color: var(--text-muted);
        font-family: $font-base;
        font-weight: 400;
        transition: font-size 0s ease;
    }
    .title {
        font-size: calc(32px + 32px * var(--shrink));
        font-family: $font-head;
        font-weight: 100;
        line-height: 1.2;
        color: var(--text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: font-size 0s ease;
    }
    .ranking-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .ranking-item {
            display: flex;
            gap: 24px;
            align-items: center;
            padding: 0 24px;
            &.top-1 {}
            &.top-2 {}
            &.top-3 {}
        }
        .rank {
            color: var(--text-muted);
            font-family: $font-head;
            font-size: 32px;
        }
        .avatar {
            width: 80px;
        }
        .details {
            flex: 1;
        }
        .planet-name {
            color: var(--text);
            font-family: $font-head;
            font-size: 24px;
        }
        .progress-bar {
            height: 12px;
        }
    }
}
