<ng-container *ngIf="!loading(); else loadingTpl">
    <button (click)="logout()">Logout</button>
    <!-- <button (click)="logout()">Logout</button>-->
    <app-my-planet-header [progress]="missionProgress()" [rank]="planetRank()!" [total]="totalPlanets()" />

    <section class="mission-list">
        <app-mission-card *ngFor="let mission of missionProgress(); let i=index;" [nb]="i" [mission]="mission" />
    </section>
</ng-container>

<ng-template #loadingTpl>
    <p>Chargement...</p>
</ng-template>