/* You can add global styles to this file, and also import other style files */

@use 'assets/styles/normalize';
@use 'assets/styles/variables' as *;
@use 'assets/styles/mixins' as *;
@use 'assets/styles/base';

/* Définition des couleurs par planète */

body.planet-mercure {
    --background: #130d0d8f;
    --background-mission: #382d298f;
    --background-carousel: #040202;
    --background-success: #55f3b113;
    --text-success: #55f3b1;
    --border-mission: #a1877f47;
    --text: #d7cfbe;
    --text-muted: #938a7c;
    --progress: #efb6a5;
    --glow: #e0a9a52a;
    --hue: 150deg;
}

body.planet-venus {
    --background: #100c05;
    --background-mission: #8d855e04;
    --border-mission: #8d855e15;
    --text: #ffe8b9;
    --text-muted: #a1925d;
    --progress: #e5c54f;
    --glow: #e0d7a52a;
    --hue: 195deg;
}

body.planet-terre {
    --background: #081a19;
    --background-mission: #83ecf108;
    --border-mission: #8d855e3f;
    --text: #e3eded;
    --text-muted: #689799;
    --progress: #c0fd7d;
    --glow: #8ae9842a;
    --hue: -65deg;
}

body.planet-mars {
    --background: #0e0805;
    --background-mission: #8d7e5e09;
    --border-mission: #8d7e5e15;
    --text: #ffe8b9;
    --text-muted: #8d7e5e;
    --progress: #dc7633;
    --glow: #dc773321;
    --hue: 175deg;
}

body.planet-jupiter {
    --background: #1c140d;
    --background-mission: #f1ac8308;
    --border-mission: #8d855e15;
    --text: #cbc6aa;
    --text-muted: #937c59;
    --progress: #ffc34b;
    --glow: #e9ca842a;
    --hue: 190deg;
}

body.planet-saturne {
    --background: #0f121a;
    --background-mission: #5e758d04;
    --border-mission: #5e6c8d15;
    --text: #dee1cb;
    --text-muted: #6e7b7d;
    --progress: #bd9769;
    --glow: #ffa50021;
    --hue: 5deg;
}

body.planet-uranus {
    --background: #02090a;
    --background-mission: #5e8d8b04;
    --border-mission: #5e898d15;
    --text: #ffffff;
    --text-muted: #66868d;
    --progress: #34b7c5;
    --glow: #00b8ff21;
    --hue: -7deg;
}

body.planet-neptune {
    --background: #02090a;
    --background-mission: #5e8d8b04;
    --border-mission: #5e898d15;
    --text: #ffffff;
    --text-muted: #66868d;
    --progress: #34b7c5;
    --glow: #00b8ff21;
    --hue: -7deg;
}

body.planet-pluton {
    --background: #090e17;
    --background-mission: #8d7e5e04;
    --border-mission: #8d7e5e15;
    --text: #ffe8b9;
    --text-muted: #8d7e5e;
    --progress: #dc7633;
    --hue: 175deg;
}
