/* You can add global styles to this file, and also import other style files */

@use 'assets/styles/normalize';
@use 'sass:color';
@use 'assets/styles/variables' as *;
@use 'assets/styles/mixins' as *;
@use 'assets/styles/base';
@use 'assets/styles/planet-colors' as pc;
@each $planet,
$progress in pc.$planet-progress-colors {
    $progress-dark: color.scale($progress, $lightness: -15%, $saturation: +20%);
    $bg-carousel: color.scale($progress, $lightness: -95%, $saturation: -40%);
    $bg: rgba(color.scale($bg-carousel, $lightness: +10%), .2);
    $bg-header: rgba(color.scale($bg-carousel, $lightness: +15%), .2);
    $bg-mission: color.scale($progress, $lightness: -92%, $saturation: -45%);
    $border: color.scale($progress, $lightness: -60%, $saturation: -80%);
    $text: color.scale($progress, $lightness: +90%);
    $text-muted: color.scale($text, $saturation: -70%, $lightness: -35%);
    $glow: rgba(color.scale($progress, $lightness: +20%), 0.3);
    body.planet-#{$planet} {
        --progress: #{$progress};
        --progress-dark: #{$progress-dark};
        --background-carousel: #{$bg-carousel};
        --background: #{$bg};
        --background-header: #{$bg-header};
        --background-mission: #{$bg-mission};
        --border-mission: #{$border};
        --text: #{$text};
        --text-muted: #{$text-muted};
        --glow: #{$glow};
    }
}


/* Définition des couleurs par planète */

body.planet-mercure {
    --hue: 170deg;
}

body.planet-venus {
    --hue: 195deg;
}

body.planet-terre {
    --hue: -65deg;
}

body.planet-mars {
    --hue: 175deg;
}

body.planet-jupiter {
    --hue: 190deg;
}

body.planet-saturne {
    --hue: 5deg;
}

body.planet-uranus {
    --hue: -7deg;
}

body.planet-neptune {
    --hue: -7deg;
}

body.planet-pluton {
    --hue: 175deg;
}
