@use 'variables' as *;
html,
body {
    background: #0b0e10;
}

body {
    font-size: $rem;
    font-family: $font-base;
    background-size: cover;
    color: $text-color;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin: 0;
}
