// base value
$rem: 15px;
// Theme layout
$background-elevation-400: #fff;
$background-elevation-300: #fcfcfc;
$background-elevation-200: #f4f4f5;
$border-color: #00000026;
$text-color: rgb(13, 13, 13);
$text-color-muted-soft: rgb(44, 44, 44);
$text-color-muted-hard: rgb(82, 82, 82);
$text-color-warning: #da7e16;
$text-color-danger: #b62121;
$global-success-bg: rgba(19, 255, 157, 0.1); // --background-success
$global-success-text: #55f3b1; // --text-success
// font
$font-base: "Cabin",
sans-serif;
$font-head: "Gentium Book Plus",
serif;
$shadow-color: #00000003;
$shadow-1: 0 1px 3px $shadow-color,
0 2px 5px $shadow-color,
0 3px 8px $shadow-color,
0 5px 13px $shadow-color,
0 8px 21px $shadow-color,
0 13px 54px $shadow-color;
// My planet
