<section>
    <div class="main-title">Bienvenue <span class="highlight"> {{ userName }}</span></div>
    <p>Tu représentes la planète <strong class="highlight">{{ planetName }}</strong>. Toi et ton équipe avez quelques photos à prendre et à ajouter aux différents défis pour arriver en tête !</p>
    <p>Mais si le jeu ne t'intéresse pas, tu peux aussi simplement balancer les photos de la soirée dans la gallerie pour les partager!</p>
</section>
<button class="primary" (click)="enter()">Entrer</button>
